// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$green-to-turquoise: linear-gradient(90deg, rgba(37,154,184,1) 0%, rgba(63,251,132,1) 100%);
$violet-to-pink: linear-gradient(90deg, rgba(84,47,252,0.6) 0%, rgba(255,93,113,0.6) 100%);
$yellow-gradient: linear-gradient(90deg, rgba(255,211,125,1) 0%, rgba(255,198,24,1) 100%);
$red-gradient: linear-gradient(90deg, rgba(247,129,129,1) 0%, rgba(228,81,81,1) 100%);
$light-gradient: linear-gradient(90deg, rgba(246,247,226,1) 0%, rgba(254,255,250,1) 100%);