
.flight-searchbox {
  background: linear-gradient(#641eff, #a307dd);
  height: 180px;
  border-radius: 5px !important;
}

.autofill-airport {
  list-style: none !important;
}

.airports {
  border: white;
  list-style: none !important;
  width: 50%;
  &:hover {
    background-color: #F1F3F6;
  }
}

.passenger svg text{
  fill: purple !important;
}

.booking-restrictions {
  padding-bottom: 10px;
}

.travel-class-dropdown {
  background-color: transparent;
  border: none;
  border-radius: 5px;
  color: white;
}

.travel-class-dropdown > option { 
  color: black;
  border-radius: 10px;
}

.flight-search-button {
  border: none;
  border-radius: 10px;
  background-color: white;
  color: #641eff !important;
  opacity: 95%;
  &:hover {
    opacity: 100%;
  }
}

.lighter {
  background-color: white !important;
}



