
.flight-searchbox {
  background: linear-gradient(#641eff, #a307dd);
  height: 180px;
}

.autofill-airport {
  list-style: none !important;
}

.airports {
  border: white;
  list-style: none !important;
  width: 50%;
  &:hover {
    background-color: #F1F3F6;
  }
}

.confirm-search .btn-lg {
  color:white;
  opacity: 85%;
  height: 42px;
  width: 100px;
  line-height: 1;
  &:hover {
  opacity: 100%;
  color: white;
  background-color: transparent;
  }
}