
.flight-searchbox {
  background: linear-gradient(#641eff, #a307dd);
  height: 180px;
}

.autofill-airport {
  list-style: none !important;
}

.airports {
  border: white;
  width: 50%;
  &:hover {
    background-color: #F1F3F6;
  }
}
