
<%# DO NOT REMOVE -  hidden div to get trip id %>
<div id="trip" data-id="<%= params[:trip_id] %>"></div>
<%# ---------------------------------------------- %>

<div class="container mt-5 mb-5 bg-primary rounded">
  <div class="row mb-3 ml-1">
    <h1 class="text-light mt-3">Flight Search</h1>
  </div>
  <form>
    <div class="row">
      <select class="col-2 mt-2 mb-3 ml-4 mdb-select md-form" id="fare-class">
        <option value="M">Economy</option>
        <option value="W">Premium Economy</option>
        <option value="C">Business</option>
        <option value="F">First</option>
      </select>
      <%# <select class="col-2 mdb-select md-form"id="route">
        <option value="round">Round trip</option>
        <option value="oneway">One way</option>
      </select> %>
    </div>

    <div class="form-row">
      <div class="col ml-1 mb-5">
        <input type="text" class="form-control" placeholder="BER" id="obDepartureAp">
        <div id="departure-airports"></div>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="FRA" id="obArrivalAp">
        <div id="arrival-airports"></div>
      </div>
      <div class="col"> 
        <input type="text" class="form-control" placeholder="Departure Date" id="ob_date">
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Return Date" id="ib_date">
      </div>
      <div class="col mt-2 ml-2">
        <button type="button" class="btn btn-dark" id="search">Search</button>
      </div>
    </div>
    
  </div>
  </form>

  <!--js flight list-->
  <div class="container" id="flight-list"></div>
  <button class="btn btn-primary pt-2" id="select-flights">Confirm Selection</button>
</div>




  
  
