
<div class="banner" style="background-color: white; text-align: center; background-size: cover;
  background-position: center; padding: 50px 0; border-bottom: 1px solid #8014F1">
  <img src="logo.png" alt="logo" style="margin-bottom: 16px;">
  <div class="container">
    <h1 style="margin: 0; color: #8014F1; text-shadow: 1px 1px 3px rgba(0,0,0,0.2); font-size: 32px;
  font-weight: bold;">Welcome to <strong>Flyinvite</strong></h1>
    <p style="font-size: 20px; color: #8014F1; opacity: .7; text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Organizing
      business travel has never been more simple.</p>
  </div>
</div>
<div style="text-align: center;">
  <h2 style="color: #8014F1; margin-top: 50px;">Dear traveler,</h2>
  <p style="margin-top: 30px;">You have been invited to a trip. The host has already organized everything, isn't that amazing?</p>
  <p>All that's left for you to do is create an account, view your trip details and make a flight booking request...
  </p>
  <p">And the rest is taken care of.</p>
  <br>
  <a href="http://localhost:3000/users/sign_up" style="background-color:#8014F1; color: white;
  margin-top: 30px; padding: 10px 20px; align-self: center; border-radius: 6px; text-decoration: none;">Sign up
    here</a>
</div>
