<div class="banner"
    style="background-color: white; text-align: center; background-size: cover;
  background-position: center; padding: 50px 0; border-bottom: 1px solid #8014F1">
  <img src="/Users/mell/Desktop/web-development/flyinvite/app/assets/images/email-logo.png" alt="logo" style="margin-bottom: 16px;">
  <div class="container">
    <h1 style="margin: 0; color: #8014F1; text-shadow: 1px 1px 3px rgba(0,0,0,0.2); font-size: 32px;
  font-weight: bold;">Welcome to <strong>Flyinvite</strong></h1>
    <p style="font-size: 20px; color: #8014F1; opacity: .7; text-shadow: 1px 1px 3px rgba(0,0,0,0.2);">Organizing business travel has never been more simple.</p>
  </div>
</div>
<h1>Hello dear traveler,</h1>
<p>You have been invited to a trip.</p>
 <br>
<a href="http://localhost:3000/users/sign_up">Please sign up to participate</a>


