input[type=submit]{
  background-color:#8014F1;
  color: white;
  margin-top: 40px;
  padding: 10px 20px;
  align-self: center;

}

.simple_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
