.navbar-lewagon {
  justify-content: space-between;
  align-items: center;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.circle_green {
  height: 50px;
  width: 50px;
  background: $green-to-turquoise;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.circle_violet {
  height: 50px;
  width: 50px;
  background: $violet-to-pink;
  border-radius: 50%;
  display: inline-block;
  margin: 5px
}

.plane {
  margin: 25%
}

.chatbubble {
  margin: 30%;
}

.alertbell {
  margin: 40%
}

.greeting {
  align-items: center;
  padding-top: 15px;
  padding-left: 5px;
  padding-right: 5px;
}